@import "colors.scss";

.label {
}

.sm {
    width: 140px;
}

.lg {
    width: 200px;
}

.fill {
    width: 100%;
}

.input {
    width: 100%;
    height: 40px;

    padding: 4px;

    outline: none;
    border: 1px solid $clr-ctx;
    border-radius: 4px;
}
