.main {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    text-decoration: none;
    height: 100px;

    margin: 10px;
}

.image {
    height: 100%;
    aspect-ratio: 16/9;

    position: relative;
}

.video_details {
    display: flex;
    flex-direction: row;

    align-items: flex-start;

    height: 100px;
    overflow: hidden;
}

.text_details {
    flex: 1;

    padding: 0px 10px;
}

.avatar {
    border-radius: 50%;

    width: 5px;
    height: 5px;

    margin-right: 10px;
}

.title {
    height: 24px;
    overflow: hidden;
}

.description {
    height: 20px;
    overflow: hidden;
}

.price {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 10px;
}
