.main {
    width: 23%;
    margin: 1%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    text-decoration: none;
}

.image {
    width: 100%;
    aspect-ratio: 16/9;

    position: relative;
}

.video_details {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    padding: 10px;

    height: 140px;
    overflow: hidden;
}

.text_details {
    flex: 1;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: 0px 10px;
}

.avatar {
    border-radius: 50%;
}

.description {
    flex: 1;

    overflow: hidden;
}
